<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page </title>
        <link rel="stylesheet" href="styles2.css">
        
    </head>

    <body>
        <div class="form-container">

  <form method="POST" action="/showdetails" >
    
        <h1 class="tag1">HOME</h1>
        <input type="text" name="userid" class="form-control" id="userid" placeholder="Enter User id" required>
        <a href="/collageproject"  class="adddetails" >Add Details </a>
            <button type="submit" class="button" >Submit</button>
   </form>
</div>
    </body>
</html>